<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServiceAndConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<appSettings>
    <add key="dbProvider" value="System.Data.OleDb" />
    <add key="connectionString" value="Provider=SQLOLEDB.1;Integrated security = SSPI;Initial Catalog=KubusNew2;Data Source=NLTBHAIAPPV1;" />
    <add key="connectionString2" value="Provider=SQLOLEDB.1;Integrated security = SSPI;Initial Catalog=KubusNew2;Data Source=NLTBHAIAPPV1;" />
    <add key="defaultLanguageId" value="1" />
    <add key="defaultCompanyId" value="1" />
    <add key="QPMUsername" value="QPMLink" />
    <add key="QPMPassword" value="IFF@2020" />
    <add key="URL" value="http://nltbhaiappv1:50000/" />
    <add key="Mandant" value="56" />
    <add key="QPMLanguageId" value="1" />
    <add key="SAPPrefix" value="SAPQIPDB" />
    <add key="SAPMandant" value="400"/>
    <add key="SAPName" value="PR1"/>
    <add key="AppServerHost" value="10.13.180.43"/>
    <add key="SAPUser" value="RFC_HAIQPM"/>
    <add key="SAPPassword" value="init@2906"/>
    <add key="Client" value="400"/>
    <add key="SystemNumber" value="00"/>
    <add key="SAPLanguage" value="EN"/>
    <add key="Poolsize" value="5"/>
    <add key="PeakConnectionsLimit" value="10"/>
      <add key="iHistorian" value="true" />
    <add key="proXcel" value="https://hai-app.io/" />
    <add key="QlipPath" value="" />
    <add key="NutricontrolPath" value="" />
  </appSettings>
    <applicationSettings>
        <ServiceAndConsole.Properties.Settings>
            <setting name="QpmSprayDryer9005Link_QpmQuery_DBA" serializeAs="String">
                <value>https://cloud02.nubilum.nl:8443/DBA/Config1?style=document</value>
            </setting>
            <setting name="QpmSprayDryer9005Link_QpmGetId_IdP" serializeAs="String">
                <value>https://cloud02.nubilum.nl:8443/IdP/Config1?style=document</value>
            </setting>
            <setting name="QpmSprayDryer9005Link_QpmStore_RA2" serializeAs="String">
                <value>https://https://cloud04.nubilum.nl:8443/RA2/Config1?style=document</value>
            </setting>
            <setting name="QPMIFFLink9134_QPMSpec_Spec" serializeAs="String">
                <value>http://cloud04ap.nubilum.nl:50000/Spec/Config1?style=document</value>
            </setting>
        </ServiceAndConsole.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
